# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Project Generated Data (Served by Webapp)
/webapp/public/data/epubs/
/webapp/public/data/pdfs/
/webapp/public/data/books/
/webapp/public/data/summaries.json

# Project Intermediate Files
/books/*.txt
/books/*Splits/
/summaries/**/batches/
/summaries/batches_life_glories/
/summaries/life_glories_summaries/
*1.md
*2.md
*3.md
*4.md
*5.md
7403-full-summary.md
